
body{
    /* background: url('../images/background.jpg') no-repeat; */
    background: url('../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.greeting{
    background: rgba(0, 0, 0, .6);
    color: white;
    text-align: center;
}
.center{
    text-align: center;
}